*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
header{
position:fixed;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
margin: auto;
}
#navContainer{
color: #fff;
width: 100%;
padding: 30px 10px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
font-family: 'Ubuntu', sans-serif;
}
#logo{
margin-left: 10px;
font-weight: 600;
font-size: 35px;
}
#logo span{
color: crimson;
}
#pcMenu{
list-style: none;
display: flex;
flex-direction:row;
margin-left: 10%;
}
#pcMenu li{
margin-left: 10px;
font-weight: bold;
}
#pcMenu li a{
color: #fff;
text-decoration: none;
font-size: 18px;
font-weight: 500;
margin-left:15px ;
transition: color 0.3s ease;
}
#pcMenu li a:hover{
color: crimson;
}

#mobileMenu{
display: none;
background: #111;
align-content: center;
justify-content: center;
width: 300px;
border-radius: 20px;
opacity: 0%;
text-align: center;
}
#mobileMenu ul{
list-style: none;
}
#mobileMenu ul li{
margin-top: 10px;
}
#mobileMenu ul li a{
color: #fff;
font-weight: 600;
}

 #BurgerButton{
display: none;
flex-direction: column;
border: 0px solid #fff;
width: 40px;
height: 20px;
justify-content: space-around;
align-items: center;
cursor: pointer;
color: #fff;
 }

 #BurgerButton span{
height: 3px;
width: 70%;
background-color: #fff;
color: #fff;
 }
@media (max-width:800px){
#pcMenu{
display: none;
margin-left: 0;
width: 0px;
visibility: hidden;
}

#BurgerButton{
display: flex;
}
}
 /*-------------------------Home Section------------------------*/

 #home{
display: flex;
background-image: url(banner.jpg) no-repeat center;
height: 100vh;
color: #fff;
min-height: 500px;
font-family: 'Ubuntu', sans-serif;
 }

#controlWidth{
max-width: 1300px;
padding: 0 80px;
margin: auto 50px;
}

.text-1{
font-size: 27px;
}
.text-2{
font-size: 75px;
font-weight: 600;
margin-left: -3px;
}
.text-3{
font-size: 40px;
margin: 5px 0;
}
.text-3 span{
color: crimson;
}

 /*-------------------------about Section------------------------*/
 #about{
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
align-content: center;
 }
 #about p{
max-width: 300px;
 }

 /*-------------------------certs Section------------------------*/
  #Certificates{
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
align-content: center;
 }
 #certCards{
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	max-width: 300px;
}
.cert{
    font-size: 10px;
    color: #000;
    background-color: #fff;
    width:100%;
	margin:10px;
}

#certCards a{
	color:#fff;
	background-color: #000;
	padding: 5px;
	border-radius: 10px;
	text-decoration: none;
}

/*-------------------------projects Section------------------------*/
  #projectsCards{
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
align-content: center;
 }
#projects{
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	max-width: 300px;
}
#projects a{
	color:#fff;
	background-color: #000;
	padding: 5px;
	border-radius: 10px;
	text-decoration: none;
}
.card{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	margin: 10px;
}
.pic{
padding: 120px 80px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
border-radius: 20px;
}
.title{
	font-size: 1.5rem;
	color: #000;
    
    background-color: #fff;
    width:100%;
}
@media screen and (max-width:800px) {
#projects{
	flex-direction: column;
}
}
/*-------------------------skills Section------------------------*/
 #skills{
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
align-content: center;
 }
 	#skillsFlex{
display: flex;
flex-direction: row;
width: 100%;
justify-content: center;
align-items: center;
align-content: center;
}
 @media(max-width: 800px){
 	#skillsFlex{
flex-direction:column;
}
 }
